/* _hero.scss */
@use "../abstracts/variables" as *;
@use '../abstracts/mixins' as mixin;


.hero {
    display: grid;
    grid-template-rows: min-content auto;
    min-height: 100vh;

    @media (min-width: 800px) {
        grid-template-rows: min-content auto;
    }

    &__text {
        margin-block: clamp(.3rem, 7vw + 1em, 2.5rem);
        margin-inline: clamp(max(1rem, 8%), 5vw, 100px);
    }

    &__title {
        font-size: $font-lg;
        line-height: 1;

        @media (min-width: 800px) {
            line-height: 1.2;
        }
    }

    &__subtitle {
        font-size: $font-md;
        margin-block-end: .8rem;
    }

    &__description {
        font-size: $font-sm;
        font-weight: 300;
        max-width: 80ch;
    }

    &__image {
        padding-block-end: 5rem;
        background-position-x: -150px;
        background-position-y: top;
        background-size: 200%;
        position: relative;
        @include mixin.div-same-size-as-background-img('../images/hero-image.svg');

        @media (min-width: 800px) {
            background-position-x: -30px;
            background-size: 150%;
        }

        @media (min-width: 1100px) {
            background-size: 100%;
            padding-block-start: 40%;
            background-position-x: 100px;
        }
    }
}

.cta {
    width: max-content;
    position: relative;
    inset-inline-start: 50%;
    inset-block-start: 2rem;
    transform: translateX(-50%);
    
    @media (min-width: 600px) {
        position: absolute;
        justify-self: flex-start;
        inset-block-start: 0;
        inset-inline-start: 0;
        transform: none;
        margin-inline: clamp(max(1rem, 8%), 5vw, 100px);
    }

    &__btn {
        color: inherit;
        cursor: pointer;
        background-color: $button-color;
        font-size: $font-static-md;
        text-transform: uppercase;
        border-radius: 5rem;
        border: none;
        padding: .7rem 2rem;
        outline: 2px solid rgba(255, 255, 255,0);
        transition: background-color ease 300ms, outline-color ease 300ms;

        &:hover,
        &:focus {
            background-color: black;
            outline-color: rgba(255, 255, 255,1);
        }
    }
}