/* _nav.scss */
@use "../abstracts/variables" as *;

.nav {

    &__logo {
        a {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin: .3rem 0rem;

            svg {
                width: 4rem;
                height: 4rem;
            }
        }
    }

    &__toggle {
        position: absolute;
        cursor: pointer;
        margin: .5rem 2.5rem;
        right: 0;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    .close {
        display: none;
    }

    .menu {
        margin-top: 0.2rem;

        @media (min-width: 800px) {
            display: none;
        }
    }

    &__checkbox {
        display: none;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        margin: 1rem;
        height: 5rem;
        transition: height linear 300ms;

        li {
            font-size: $font-sm;
            display: block;

            &:first-child {
                margin-inline-end: auto;
                display: block;
                font-size: $font-static-md;
                font-family: "Oswald";

                @media (min-width: 800px) {
                    margin: 0;
                }
            }

            &:not(:first-child){
                transform: scaleY(0);
                
                @media (min-width: 800px) {
                    transform: none;
                }
            }

            &:last-child {
                margin-block-end: 2rem;
            }

            
            @media (min-width: 800px) {
                display: block;

                &:nth-child(2) {
                    margin-inline-start: 1.5rem;
                }

                &:last-child {
                    margin-block-end: 0;
                }

            }

            @media (min-width: 1300px) {
                &:nth-child(2) {
                    margin-inline-start: 20rem;
                }

                &:last-child {
                    margin-inline-end: 10rem;
                }

                &:first-child {
                    margin-inline-start: 5rem;
                }
            }
        }

        @media (min-width: 800px) {
            flex-direction: row;
            justify-content: space-around;
        }
    }
        

    &__checkbox:checked {

        ~ .nav__toggle > .menu {
            display: none;
        }
        
        ~ .nav__toggle > .close {
            display: block;
        }

        ~ .nav__menu {
            border-block-end: 1px solid white;
            height: fit-content;
            
            li {
                display: block;

                &:not(:first-child) {
                    transform: scaleY(100%);
                    transition: transform ease 300ms;
                }
            }
        }
    }
}