/* _reset.scss */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration:underline .2em rgba(255, 255, 255, 0);
    text-underline-offset: .2em;
    color: inherit;
    transition: text-decoration-color 300ms;
}

a:hover, a:focus {
    text-decoration: underline .2em rgba(255, 255, 255, 1);
}

a:focus {
    outline: 1px dotted rgba(0, 0, 0, 0.829);
}